{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Roberto - Hotel &amp; Resort HTML Template {% block title %}{% endblock %}</title>

    <!-- Favicon -->
{#    <link rel="icon" href="./img/core-img/favicon.png">#}
    <link rel="icon" href="{% static 'clientstatic/base/img/core-img/favicon.png' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'clientstatic/base/style.css' %}">
    <link rel="stylesheet" href="{% static 'clientstatic/toaster/css/toastr.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'clientstatic/base/stylecopy.css' %}">#}


    <style>

        #scrollUp{
            bottom : 90px;
        }



        .single-footer-widget .nl-form button {
        top:65px;
            right: 20px;
        }

    </style>
    {% block css %} {% endblock %}

</head>

<body>
       <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v8.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="110080344201713"
  theme_color="#7C0000"
  logged_in_greeting="Hi! How can we help you?"
  logged_out_greeting="Hi! How can we help you?">
      </div>


    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">


        <!-- Main Header Start -->
        <div class="main-header-area  " >
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar  justify-content-between" id="robertoNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'adventureapp:clienthome' %}"><img style="height: 70px; width: 70px;" src="{% static 'clientstatic/logo.jpg' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="{% url 'adventureapp:clienthome' %}">Home</a></li>
                                    <li><a href="{% url 'adventureapp:clientroomlist' %}">Rooms</a>
                                    <ul class="dropdown">
                                        {% for room in rooms %}


                                        <li><a href="{% url 'adventureapp:clientroomdetail' room.id %}">{{ room.type }}</a></li>

                                        {% endfor %}
                                    </ul></li>
                                    <li><a href="{% url 'adventureapp:clientaboutus' %}">About Us</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">

                                            <li><a href="{% url 'adventureapp:clienthome' %}">- Home</a></li>
                                            <li><a href="{% url 'adventureapp:clientroomlist' %}">- Rooms</a></li>
                                            <li><a href="{% url 'adventureapp:clienteventslist'  %}">- Events</a></li>
                                             <li><a href="{% url 'adventureapp:clientreviewcreate'  %}">- Reviews</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="{% url 'adventureapp:clientcontactcreate' %}">Contact</a></li>
                                    <li><a href="{% url 'adventureapp:clientgallery'  %}">Gallery</a></li>
                                    <li><a href="{% url 'adventureapp:clientactivitylist'  %}">Activities</a></li>


                                </ul>



                                <!-- Book Now -->
                                <div class="book-now-btn ml-3 ml-lg-5">
                                    <a href="{% url 'adventureapp:clientroombooking' %}">Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

   {% block content %}

    {% endblock %}


    <!-- Footer Area Start -->

    <footer  class="footer-area section-padding-80-0 bg-overlay" style="background-image: url({{ org.profile_image.url}});">


        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">

            <div class="row mb-30 " >
                <!-- Single Footer Widget Area -->


                 <div class=" col-12 col-sm-8 col-lg-3 single-footer-widget">
                   <!-- Widget Title -->
                   <h5 class="widget-title "> <i class="fa fa-envelope text-white mt-lg-3 " ></i>   Subscribe now!! </h5>

                        </div>
                 <div class="col-12 col-sm-8 col-lg-8 single-footer-widget">
                            <!-- Newsletter Form -->

                            <form id="subscribe_form" action="{% url 'adventureapp:subscribercreate' %}" method="post" class="nl-form mt-0 text-white ">
                                {% csrf_token %}
                                 <div class="row">
                                     <div class="col-lg-6 mb-2 mb-sm-0 mt-lg-auto ">
                                         <span >Email:</span>
                                {{ subscribeform.email }}

                                         </div>

                                                <div class="col-lg-6 ">
                                <span >Anti spam Quiz!!</span>


                                {{ subscribeform.captcha }}

                                                    
                                <button id="subscribebutton" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

                                      </div>
                                                </div>
                            </form>

                        </div>





                    </div>

{#            <div class="col-12 col-sm-8 col-lg-4">#}
{#                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAdventure-jungle-resort-226013962164207&tabs&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>#}
{##}
{#            </div>#}

{#            </div>#}




                <div class="row" style="border-top: 1px solid white; padding: 15px 0;">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3" >
                        <div class="single-footer-widget mb-80">
                            <!-- Footer Logo -->
{#                            <a href="#" class="footer-logo"><img src="img/core-img/logo2.png" alt=""></a>#}

                            <h4 class="text-white" >{{ org.contact_no}}</h4>
                            <span>{{ org.email}}</span>
                            <span>{{ org.address}}</span>
                        </div>
                    </div>



                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Our Blog</h5>

                            <!-- Single Blog Area -->
                            <div class="latest-blog-area">
                                <a href="#" class="post-title">Freelance Design Tricks How</a>
                                <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>
                            </div>

                            <!-- Single Blog Area -->
                            <div class="latest-blog-area">
                                <a href="#" class="post-title">Free Advertising For Your Online</a>
                                <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Links</h5>

                            <!-- Footer Nav -->
                            <ul class="footer-nav">
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Our Room</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Career</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li>
                            </ul>
                        </div>
                    </div>

                             <div class="col-12 col-sm-8 col-lg-4">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAdventure-jungle-resort-226013962164207&tabs&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

             </div>

                </div>
            </div>
        </div>


        <!-- Copywrite Area -->
        <div class="container">
            <div class="copywrite-content">
                <div class="row align-items-center">
                    <div class="col-12 col-md-8">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>







    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->

    <!-- jQuery 2.2.4 -->
    <script src="{% static 'clientstatic/base/js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'clientstatic/base/js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'clientstatic/base/js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'clientstatic/base/js/roberto.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'clientstatic/base/js/default-assets/active.js' %}"></script>

    <script src="{% static 'clientstatic/gallery+lightbox/js/ekko-lightbox.min.js' %}"></script>
    <script src="{% static 'clientstatic/toaster/js/toastr.min.js' %}"></script>


       <script type="text/javascript">

   toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

   $("#subscribe_form").submit(function(e){
     // prevent from normal form behaviour
      e.preventDefault();
      $('#subscribebutton').attr("disabled", true);
      $this = $(this);
      $.ajax({
         type:"POST",
         url: $this.attr('action'),
         data: $this.serialize(),
         success : function(data){
          console.log(data)
            if (data.success){
              toastr["success"](data.success)
              $this.trigger("reset");
            }
            else {
              toastr["error"]("Subscriber already exists")
              $this.trigger("reset");
           }
         },
         complete: function() {
          $('#subscribebutton').attr("disabled", false);
        }
      });
   });
</script>


{% block js %}


{% endblock %}

</body>

</html>