{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block css %}



{% endblock %}
{% block roomactive %}active{% endblock %}


{% block content %}
    <div id="page-inner">
     <div class="row ">

                    <div class="col-md-12">
                    <div class="card">
                        <div class="card-action">
                         Activities
                        </div>

                         <div class="card-content">

                        
                        <div class="row">

                            <form  method="post" enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form.as_p }}

                                <button type="submit" class=" center btn btn-success">Save </button>
                            </form>

                   </div>
			      </div>
                           <div class="clearBoth"><br/></div>

						 </div>
						 </div>
                    </div>


				</div>




{% endblock %}
{% block js %}


{% endblock %}