{% extends 'admintemplates/adminbase.html' %}

{% block content %}

    <body>



		  <div class="header">
                        <h1 class="page-header ">

                             Change Password

                        </h1>

		</div>

            <div id="page-inner">

              <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-action">
                            Change Password!

                        </div>
                        <div class="card-content">
                         	<form method="post" action="" class="col s12" enctype="multipart/form-data">
                                {% csrf_token %}
								  <div class="row">
									<div class="input-field col s6">

                                        <strong> Enter current Password </strong>
									  {{ form.current_password }}
									</div>

								  </div>

                                <div class="row">
									<div class="input-field col s6">

                                        <strong> New password</strong>
									  {{ form.new_password }}
									</div>

								  </div>

                                 <div class="row">
									<div class="input-field col s6">

                                        <strong> Confirm password </strong>
									  {{ form.confirm_new_password }}
									</div>

								  </div>


                                    <input class="btn center-block btn-success" type="submit" value="Submit">
                                   </form>

							<div class="clearBoth"></div>
							</div>
							</div>
							</div>

                        <!-- /.panel-body -->
                    </div>
                <!-- /.col-lg-12 -->


            </div>

{% endblock %}
