{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block css %}

    <style>
    #page-inner{
        min-height: 10px;
    }
   </style>

{% endblock %}

{% block bookactive %}active{% endblock %}



{% block content %}
             <!-- /. PAGE INNER  -->
		  <div class="header">
                        <h1 class="page-header">
                            Booking List
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Tables</a></li>
					  <li class="active">Data</li>
					</ol>

		</div>

            <div id="page-inner">




            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card"><div class="card-action">
                            <h4> <strong> Booking List</strong> </h4>   <a href="{% url 'adventureapp:bookingchart' %}" class=" btn btn-success">View Booking Chart</a>
                            <a  href="{% url 'adventureapp:adminbookingconfirmedlist' %}" class="  btn btn-sm btn-danger">Booking confirmed list</a>
                            <a  href="{% url 'adventureapp:adminbookinghistory' %}" class="  btn btn-sm btn-primary">Booking History</a>
                        </div>

                        <div class="card-content">

{#                        <a href="{% url 'adventureapp:adminroomadd' %}" class="pull-right"><i class="fa fa-plus-circle " style="font-size: 60px" aria-hidden="true"></i></a>#}
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="example">


 <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Room</th>
                                            <th>Check in</th>
                                            <th>Check out</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Room Price</th>
                                            <th>Booking</th>
{#                                            <th>Checkout</th>#}
                                            <th>Room status</th>
                                            <th>Booking Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                 {% for bookers in bookings %}
                     {% if  bookers.customer_status == 'new' %}


                <tr>

                  <td>{{forloop.counter}}</td>
                  <td>{{bookers.first_name}}</td>

                  <td>{{ bookers.last_name }}</td>
              <td>{{ bookers.room }}</td>
              <td>{{ bookers.check_in}}</td>
              <td>{{ bookers.check_out}}</td>
              <td>{{ bookers.email}}</td>
              <td>{{ bookers.address}}</td>
              <td>{{ bookers.phone}}</td>
              <td>{{ bookers.room.price}}</td>

                <td>
                      <div class="col">

                <a onclick="return confirm('Are you sure you want to confirm?');" href="{% url 'adventureapp:adminbookingconfirm' bookers.id %}"
                        class="btn btn-primary btn-sm" >
                       Confirm booking

                    </a> <a onclick="return confirm('Are you sure you want to cancel booking?');" href="{% url 'adventureapp:adminbookingdelete' bookers.id %}"
                        class="btn btn-danger btn-sm" >
                       Cancel booking

                    </a>


                  </div>
                </td>

{#                <td>#}
{##}
{#                    <div class="col">#}
{##}
{#                <a href="{% url 'adventureapp:adminbookingcheckout' bookers.room.id %}"#}
{#                        class="btn btn-primary btn-sm" >#}
{#                       checked out#}
{##}
{#                    </a>#}
{##}
{##}
{#                  </div>#}
{#                </td>#}




                    <td>
                        {% if bookers.room.is_reserved == True %}
                        <strong class="bg-danger">Reserved</strong>
                    {% else %}
                        <strong class="bg-success">Available</strong>
                    {% endif %}
                    </td>

                <td>
                    {% if bookers.customer_status == "confirmed" %}
                        <strong class="bg-danger">Booking confirmed</strong>
                    {% else %}
                        <strong class="bg-success">Booking confirmation pending!</strong>
                    {% endif %}

                </td>

                </tr>
                     {% endif %}
                {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            </div>

             <!-- /. PAGE INNER  -->








{% endblock %}

 {% block js %}
        <!-- DATA TABLE SCRIPTS -->
    <script src="{% static 'adminstatic/js/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'adminstatic/js/dataTables/dataTables.bootstrap.js' %}"></script>



{#   <script>#}
{#    $('.demo').confirmation({#}
{#         placement       :'top',#}
{#        title           : 'Are you sure?',#}
{#      btnOkClass      : 'btn btn-sm btn-danger',#}
{#      btnOkLabel      : 'Delete',#}
{#      btnOkIcon       : 'glyphicon glyphicon-ok',#}
{#      btnCancelClass  : 'btn btn-sm btn-default',#}
{#      btnCancelLabel  : 'Cancel',#}
{#      btnCancelIcon   : 'glyphicon glyphicon-remove',#}
{##}
{#});#}
{#     </script>#}



      <script>


   $(document).ready(function() {
    var table = $('#example').DataTable( {
        "autoWidth": false,
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true
    } );
} );



$(function () {
  $('[data-toggle="popover"]').popover()
})

     </script>



{% endblock %}